h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-container__form--medium {
    width: 60%;
    margin: auto;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-bottom: 10px;
}

.form-columns--compact {
    grid-gap: 10px;
}

.form-container {
    max-width: 1000px;
    margin: 0 auto;
}

.form-actions {
    margin-top: 20px;
}

.form-columns--single {
    grid-template-columns: 1fr;
}
