.meetings-list {
    list-style: none;
    padding: 0;
}

.meeting-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.meeting-item strong {
    font-weight: bold;
}

.meeting-item .status {
    margin-top: 10px;
}

.meeting-item .document {
    margin-top: 10px;
}

.meeting-item .actions {
    margin-top: 10px;
}

.meeting-item .actions form {
    display: inline;
}

.meeting-item .actions input[type="file"] {
    margin-top: 10px;
}

.meeting-item .actions a {
    text-align: center;
    margin: 5px auto;
    /* display: block; */
    background-color: #337ab7;
    color: #fff;
    border: none;
    text-decoration: none;
}

/* input[type="file"] {
    position: absolute;
    left: -9999px;
} */

.file-input-label {
    text-align: center;
    display: block;
    padding: 10px 20px;
    background-color: #cc0000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px auto;
}

.file-input-label:hover {
    background-color: #990000;
}
